.toggle-sound {
  padding: 1rem 0;
  margin-top: 20px;
}

.icons {
  margin: 10px 0;
}

.form {
  margin: 60px 30px 60px 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
  position: relative;
}

.confirm-button {
  margin-left: 15px;
}

.input {
  padding: 10px;
}

.links .icon {
  vertical-align: middle;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
