.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person {
  display: inline-block;
  margin: 10px 0;
  padding: 0 !important;
  position: relative;
}

.person-avatar-wrapper {
  height: 60px;
  width: 60px;
}

.person-avatar {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  width: 100%;
}

.person-avatar-placeholder {
  filter: grayscale(1);
}

.person-container {
  margin: 6px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
