.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person {
  display: inline-block;
  margin: 10px 0;
  padding: 0 !important;
  position: relative;
}

.person-avatar-wrapper {
  height: 60px;
  width: 60px;
}

.person-avatar {
  width: 100%;
}

.person-avatar-placeholder {
  filter: grayscale(1);
}

.person-container {
  margin: 6px;
}
