.switchboard-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.switchboard-control {
  margin: 10px;
}

.switchboard-input {
  flex-grow: 1;
  width: auto;
}

.switchboard-buttons {
  margin-top: 20px;
}
